@page
@model PixelParbaj_CORE.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="general-wrapper col-12">

    <div class="profile col-12 col-md-4" style="display: flex;flex-direction: column;color: rgba(255,255,255,0.9);">
        
        <p>A PixelPárbaj játékot filmőrülteknek szánjuk, akik nem félnek számot adni tudásukból, hogy mennyire ismerik a filmek posztereit. A játékot játszhatod egyedül, az ismerősöddel, vagy játszhatjátok csapatban is egymás ellen. Kellemes időtöltést kívánunk!</p>

        <p>A játékot mi, vagyis a FreakShow csapat készítette, hogy ezzel is egy kis szórakoztatási lehetőséget teremtsen a filmkedvelőknek. A játék szabadídőben, önszorgalomból, véges forrásokból készült, így előfordulhatnak benne hibák, illetve “tér a fejlesztésre.” </p>

        <p>Amennyiben észrevételed van a játékkal kapcsolatban, írj nekünk a <a style="color: rgba(160,115,190,0.9);font-weight: bold;" href="mailto:freakshowhu@gmail.com">freakshowhu@gmail.com</a> email címre.</p>

    </div>

</div>