@page
@model PixelParbaj_CORE.LostPasswordModel
@{
    ViewData["Title"] = "Elfelejtett Jelszó";

}

<div class="general-wrapper">

    @if (@Model.Filled)
    {
        <div class="general-header">Ha az email cím szerepel az adatbázisban, további instrukciókat küldünk az email címre a jelszó visszaállításához. Köszönjük!</div>
    }
    else
    {
        <form method="post" style="padding: 0px 15px;width:350px;"> 

    <div class="form-header">
        Elfelejtett Jelszó
    </div>
      <div class="form-input"> 
          <div>Email:</div>
        <input asp-for="Email" class="form-input-element" type="email" id="Email" name="Email" />
      </div> 
      
          <input style="margin-top: 25px;margin-bottom: 15px;" class="generic-button" type="submit" value="Jelszó visszaállítása" /> 

        </form>
    }

</div>