@page
@model PixelParbaj_CORE.ResetPasswordModel
@{
    ViewData["Title"] = "Bejelentkezés";
}

<div class="general-wrapper">
<form method="post" style="padding: 0px 15px;width: 350px;"> 
      
    <div class="form-header">
        Jelszó Frissítése:
    </div>

      <div class="form-input"> 
          <div>Email:</div>
        <input class="form-input-element" type="email" id="Email" name="Email" value="@Model.Email" readonly/>
      </div> 
      
      <div class="form-input"> 
          <div>Új jelszó:</div>
        <input class="form-input-element" type="password" id="Password" name="Password" />
      </div> 
   
      <input asp-for="OldKey" value="@Model.OldKey" />
      <input style="margin-top: 25px;margin-bottom: 15px;" class="generic-button" type="submit" value="Jelszó Frissítése" /> 

</form>

</div>